
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400&family=Oxygen:wght@400;700&display=swap'); 

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #C8B6A6;
}

/* HEADER */

header {
    background-color: #8D7B68;
}
.cabecalho {
    display: flex;
    justify-content: space-between;
    padding: 3rem 4rem;
    width: auto;
    height: auto;
}

.cabecalho p {
    font-family: 'Oxygen', sans-serif;
    font-size: 1.5rem;
    font: bold;
}

.navegacao {
    display: flex;
    font-size: 1.25rem;
    justify-content: space-between;
    gap: 0.5rem;
    font-family: 'Oxygen', sans-serif;
}

.cabecalho__item {
    text-decoration: none;
    color: #000000;
}

/* MAIN */

main {
    height: 80vh;
    display: flex;
    flex-direction: column;
    font-family: 'Karla', sans-serif;
    text-align: center;
    background-color: #C8B6A6;
    background-image: url('../assets/coffee.png');
}

.welcome__bernies {
    margin: 1rem;
    padding: 2rem;
    width: 80%;
    align-self: center;
    margin-bottom: 3rem;
    background-color: #8D7B68;
    border-radius: 0.5rem;
}

.welcome__bernies h1 {
    padding: 0.5rem;
    font-size: 2rem;
    font: 700;
}

.eat__here {
    display: flex;
    flex-direction: column;
    background-color: #8D7B68;
    margin: 1rem;
    padding: 2rem;
    width: 80%;
    align-self: center;
    border-radius: 0.5rem;
    list-style-type: none;
}

.eat__here h2 {
    padding: 0.5rem;
    font-size: 1.5rem;
}

.eat__here h4 {
    padding: 0.5rem;
    font-size: 1.25rem;
}

.eat__here__foods {
    padding: 10px;
}



/* FOOTER */

footer {
    background-color: #8D7B68;;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 1.5rem;
}

footer p {
    font: 700;
    font-family: 'Karla', sans-serif;
}
